.customers-hero
  .customers-hero-content.z-index1
    %h1 Goldman Sachs and GitLab
    %p Goldman Sachs improves from bi-monthly builds to over a thousand per day.
    = link_to "Read the case study", "/customers/goldman-sachs/", class: "btn cta-btn orange margin-top20"
  = image_tag "/images/unsplash/newyork-skyline-cropped.png", class: "goldman-hero-image", alt: "New york skyline cropped png"
