.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 What Are The GitLab Advantages?
    %p
      %strong

      %ul
        %li
          %strong Contextual.
          GitLab provides vulnerability findings to developers in their native workflow. Because we scan at code commit, before the code is merged, the developer sees clear cause and effect of their own specific code changes - and only their code changes, thereby eliminating noise. They can address the flaws they just created potentially without involvement from anyone else.
        %li
          %strong Congruent with DevOps processes.
          GitLab Secure capabilities provide immediate remediation information to the developers as they are still iterating on their code. They need not wait for a merge nor for lengthy scans. Results are interactive and actionable. Automation ensures policies are followed and exceptions documented. Security teams and engineers alike view the same vulnerability information so nothing is lost in translation and silos are eliminated.
        %li
          %strong Integrated with DevOps tools.
          When triaging vulnerabilities, users can confirm (by creating an issue to solve the problem) or dismiss them (in case they are false positives or there are compensating controls). When using GitLab for SCM and CI, no additional integration is needed between application security and DevOps. That said, if you have a favorite security scanner, 
          %a{ href: "https://docs.gitlab.com/ee/development/integrations/secure.html"}
            integration is straightforward
          and, you can even 
          %a{ href: "https://www.youtube.com/watch?v=8VoxulxxM4Y&feature=youtu.be"}
            use GitLab Secure alongside Jenkins CI
        %li
          %strong Efficient and automated.
          Set your policies for merging when vulnerabilities are found and for allowing/denying licenses, eliminating mundane work and ensuring consistency.
          %a{ href: "https://gitlab.com/groups/gitlab-org/-/epics/759"}
            Auto remediation
          applies patches to vulnerable dependencies and even re-runs the pipeline to evaluate the viability of the patch.

%hr.divider
